* {
    border:        none;
    border-radius: 0;
    font-family:   "MesloLGSDZ Nerd Font";
    font-weight:   bold;
    font-size:     15px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window#waybar {
    color: rgb(202, 211, 245);
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 0px solid rgba(53, 185, 171, 0.4);
}

window#waybar.solo {
    color: rgb(166, 173, 200);
}

#workspaces {
    margin: 0 0.5em;
    padding: 0 0.5em;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 1em;
}


#custom-scratchpad {
    margin: 0px	5px;
    padding: 0px 5px;
}

#workspaces button {
    padding: 0 15px;
    color: rgb(166, 173, 200);
}

#workspaces button:hover {
    background: none;
    color: rgb(203, 166, 247);
}

#workspaces button.focused {
    color: rgb(137, 180, 250);
}

#workspaces button.visible {
    color: rgb(137, 180, 250);
}

#workspaces button.urgent {
    color: rgba(33, 164, 223, 1);
}

#submap, 
#battery, 
#cpu, 
#memory, 
#network, 
#bluetooth,
#pulseaudio, 
#idle_inhibitor, 
#temperature,
#custom-layout,
#custom-apps,
#custom-zypper,
#backlight,
#clock,
#custom-notification {
    margin: 0px 5px 0px 5px;
    padding: 0px 1em 0px 1em;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 1em;
    min-width: 30px;
    background-color: #cba6f7;
    color: rgb(17, 17, 27);
}

#custom-apps,
#custom-zypper{
    background-color: rgb(166, 218, 149);
    padding: 0 0.8em 0 0.5em;
}


#clock {
    background-color: rgb(139, 213, 202);
}

#network,
#bluetooth{
    background-color: rgb(138, 173, 244);
}

#battery.warning {
   color: rgba(255, 210, 4, 1);
}

#battery.critical {
    color: rgba(238, 46, 36, 1);
}

#bluetooth.connected {
    color: rgb(137, 180, 250);
}
